
* {
    font-family: Nunito, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    ;
}

.section-title{
    text-align: center;
    border-bottom: 1px dashed white; /* Màu đường và kiểu đường gạch */
    line-height: 0.1em; /* Để đường gạch được căn giữa */
    margin: 10px 0; /* Khoảng cách trên và dưới đường gạch */
}

.user__avatar{
    border: solid;
    border-color: black;
}

/* dark mode */

body.dark{
    background-color: #1E293B;
}




