* {
  font-family: Nunito, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}
.custom-bg {
  background: #1e293b;
  color: #fff;
}
.information {
  color: #fff;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), #000);
}
.information .my-episodes-view {
  font-size: small;
  position: relative;
}

.header-content {
  background-color: #121b28;
  clip-path: polygon(0 0, 0 100%, 95% 100%, 100% 50%, 95% 0);
  width: 30%;
}
.custom-items {
  height: 325px;
  background-repeat: no-repeat;
  width: 76%;
}

@media screen and (min-width: 990px) {
  .my-custom-css {
    padding-top: 72px;
  }
}

@media screen and (max-width: 990px) {
  .my-custom-css {
    padding-top: 230px;
  }
}
@media screen and (max-width: 357px) {
  .my-custom-css {
    padding-top: 266px;
  }
}

.admin-content {
  height: 750px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-table {
  width: 90%;
  height: 80%;
}

.admin_logo {
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
}

.logo {
  width: 80%;
  height: 80%;
  border: 3px solid black;
  border-radius: 100%;
}

.admin_quanly {
  height: 65%;
}

h3,
p,
a {
  color: #000;
}

.quanly_top {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.quanly_bottom {
  width: 100%;
  height: 25%;
}

.dropup {
  height: 100%;
  width: 40%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.name {
  width: 100%;
}
.quanly_btn {
  height: 50px;
  width: 50px;
  margin: 0 20px;
  border: 2px solid black;
}

.overview {
  width: 700px;
  height: 490px;
  border-left: 5px solid black;
  position: absolute;
}
.search-bar {
  display: flex;
  width: 500px;
  height: 30px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.search-bar input {
  margin-left: 8px;
  border-radius: 10px;
}
.search-bar button {
  margin-left: 8px;
  width: 50px;
  border: none;
  border-radius: 10px;
}
table,
th,
td {
  border: 1px solid black;
  padding-left: 40px;
}
.user-list {
  margin-left: 20px;
  margin-top: 20px;
}
.change {
  margin-right: 30px;
}
.admin-table {
  border: 5px solid black;
  position: relative;
  padding: 20px; /* Để tạo khoảng trắng giữa nền và nội dung */
}
.pagination {
  margin-top: 20px;
  margin-left: 300px;
  position: absolute;
  bottom: 1px;
}
.admin-table::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
  transition: top 0.3s ease-out; /* Thêm hiệu ứng transition cho smoothness */
}

.admin-table:hover::before {
  top: 0; /* Di chuyển phần bóng lên khi hover */
}

.follow_board {
  width: 30%;
  height: 90%;
  border-radius: 10px;
}

.follow_bg1 {
  background: linear-gradient(to bottom, #de4a83, #5d5ae7);
}

.follow_bg2 {
  background: linear-gradient(to bottom, #2edd80, #14a78a);
}

.follow_bg3 {
  background: linear-gradient(to bottom, #fb5519, #ef1866);
}

.follow_top {
  height: 100%;
  display: flex;
  align-items: center;
}

.follow_icon {
  width: 20%;
  margin-bottom: 10px;
  margin-left: 40px;
}
