* {
  font-family: Mulish, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.custom-bg {
  padding-top: 64px;
  background: #1e293b;
  color: #fff;
}
#footer-include {
  margin-top: 72px;
}
.category-title {
  background-color: #dacb46;
  color: black;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding: 12px 15px;
  margin-top: 30px;
}
.product__item__pic {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product__item {
  position: relative;
}
.ep {
  color: white;
  font-weight: 400;
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 10px;
  background-color: #dc3545;
  position: absolute;
  top: 5px;
  left: 5px;
}
.comment,
.view {
  background-color: #ccc;
  color: black;
  border-radius: 4px;
  position: absolute;
}
.comment {
  position: absolute;
  bottom: 70px;
  left: 10px;
}
.view {
  position: absolute;
  bottom: 70px;
  right: 10px;
}
.product__item__text h5 a {
  text-decoration: none;
  color: white;
  line-height: 1.5;
}
.current-page {
  background-color: white;
  font-weight: bold;
}
.product__pagination a {
  padding: 8px 12px;
  text-decoration: none;
  color: #dc3545;
}

.user-info {
  padding-top: 150px;
}
.user-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
}
.user-name {
  padding: 16px 0;
  font-weight: bold;
  font-size: 48px;
}
.user-detail {
  list-style: none;
  padding-left: 0;
}
.user-detail li a {
  text-decoration: none;
  color: white;
}
.user-detail li {
  font-size: 20px;
  margin-bottom: 12px;
  font-weight: 300;
}
.user-detail li strong {
  font-weight: bold;
}
.user-type {
  font-size: 22px;
  font-weight: 900;
  padding: 4px 8px;
  border-radius: 7px;
  background-color: #dacb46;
  color: #1e293b;
}

.information {
  width: 100%;
  padding: 0;
  color: #fff;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), #000);
}
.information .my-episodes-view {
  font-size: small;
  position: relative;
}
.list-anime-item{
  width: max-content;
}
@media screen and (min-width:1400px) {
  .information {
      width: 100%;
      padding: 0;
      color: #fff;
      font-weight: 600;
      position: absolute;
      bottom: 0;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), #000);
  }
}

@media screen and (max-width:376px) {
  .information {
      width: 80%;
      padding: 0;
      color: #fff;
      font-weight: 600;
      position: absolute;
      bottom: 0;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), #000);
  }
}