<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-white text-decoration-none lh-1">
            <svg class="bi" width="30" height="24">
                <use xlink:href="#bootstrap"></use>
            </svg>
        </a>
        <span class="mb-3 mb-md-0 text-white">© Group 4 <br> - The website was created for learning purposes, with no
            intention of buying or selling for profit!</span>
    </div>
    <span class="me-5"><i class=" fa fa-users" aria-hidden="true"></i> Online: <strong
            id="current-user-online">999</strong></span>
</footer>