   <link rel="stylesheet" href="./css/contact.css">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

   <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="./img/logo.png" alt="logo" />
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="index.html" class="nav-link px-2 text-white">Trang Chủ</a></li>
                <li><a href="category.html" class="nav-link px-2 text-white">Thể loại</a></li>
                <li><a href="group-diary.html" class="nav-link px-2 text-white">Group Diary</a></li>
                <li><a href="about.html" class="nav-link px-2 text-white">About</a></li>
                <li><a  href="#" class="nav-link px-2 text-white show-contact">Liên Hệ</a></li>
            </ul>

            <span class="me-2">Tìm Kiếm</span>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control form-control-dark text-bg-dark" id="tim-kiem"
                    placeholder="Search..." aria-label="Search" />
            </form>

            <div class="text-end">
                <a href="login.html" type="button" class="btn btn-outline-light me-2">
                    Đăng Nhập
                </a>
            </div>
        </div>
    </div>
    <!-- biểu mẫu liên hệ -->
    <div id="contact" class="close-contact" >
        <div class="content">
            <i class="icon-close bi bi-x-circle"></i>
            <div class="title">Liên Hệ</div>
            <div class="group-input text-center">
                <input class="mb-3" id="email" type="text" placeholder="Email">
                <textarea id="infor" rows="8" type="text" placeholder="Nội dung"></textarea>
            </div>
            <div class="text-center">
                <button><i class="bi bi-send" style="font-size: 1.5rem;"></i></button>
            </div>
        </div>
    </div>

