<div class="admin_logo">
    <img class="logo" src="img/logo-admin.jpg" alt="" />
  </div>
  <div class="admin_quanly">
    <div class="quanly_top">
      <a href="index.html">
        <h3>Trang chủ</h3>
      </a>
      <a href="admin-page-user.html">
        <p>Quản lý user</p>
      </a>
      <a href="admin-page-anime.html">
        <p>Quản lý anime</p>
      </a>
    </div>
    <div class="quanly_bottom d-flex">
      <!-- Default dropup button -->
      <div class="btn-group dropup">
        <button type="button"
          class="quanly_btn btn btn-light rounded-circle d-flex justify-content-center align-items-center"
          data-bs-toggle="dropdown" aria-expanded="false" style="position: absolute">
          <i class="fa-solid fa-eject fa-2xl"></i>
        </button>
        <ul class="dropdown-menu">
          <!-- Dropdown menu links -->
          <li>
            <a href="">
              <p class="d-flex justify-content-center">profile</p>
            </a>
          </li>
          <li>
            <a href="">
              <p class="d-flex justify-content-center">logout</p>
            </a>
          </li>
        </ul>
      </div>
      <div style="color: black" class="name d-flex align-items-center justify-content-center">
        Nguyễn Vũ Bảo
      </div>
    </div>
  </div>